# **DASHBOARD VISUALISASI INTERAKTIF**

In [1]:
import pandas as pd
import os
import matplotlib.pyplot as plt

## **Data Wragling**

### **IPM (Indeks Pembangunan Manusia Menurut Dimensi Tahun 2019-2024)**

In [5]:
df = pd.read_excel("Dataset/IPM/fix IPM/Indeks Pembangunan Manusia Menurut Dimensi, 2019.xlsx")
df = pd.read_excel("Dataset/IPM/fix IPM/Indeks Pembangunan Manusia Menurut Dimensi, 2019.xlsx", sheet_name="Sheet1")
df

,Dimensi/Indikator,Indeks Pembangunan Manusia Menurut Dimensi
0,Tahun,2019
1,Umur Harapan Hidup saat Lahir (UHH),73.95
2,Harapan Lama Sekolah (HLS),13.15
3,Rata-rata Lama Sekolah (RLS),8.07
4,Pengeluaran Riil per Kapita (yang disesuaikan),-
5,Indeks Pembangunan Manusia (IPM),72.62

Membuat hanya 2 kolom yang dipengaruhi oleh tahun

In [ ]:
folder = "Dashboard Interaktif/Dataset/IPM/fix IPM"
files = [f for f in os.listdir(folder) if f.endswith('.xlsx')]

df_ipm_all = pd.DataFrame()

for file in files:
    path = os.path.join(folder, file)
    df = pd.read_excel(path, header=None)
    df = df.iloc[1:6]  
    df.columns = ['Indikator', 'Nilai']
    tahun = int(file[-9:-5]) 
    df['Tahun'] = tahun
    df_ipm_all = pd.concat([df_ipm_all, df], ignore_index=True)

df_ipm_all.to_csv("Dashboard Interaktif/Data Clean/ipm_long.csv", index=False)

# df_ipm.to_csv("Dashboard Interaktif/Data Clean", index=False)

In [ ]:
df_raw = pd.read_csv("Dashboard Interaktif/Data Clean/ipm_long.csv", names=["Indikator", "Nilai", "Tahun"])
data_bersih = []
# Variabel penampung tahun saat ini
tahun_sekarang = None

for i, row in df_raw.iterrows():
    indikator = row['Indikator']
    nilai = row['Nilai']
    tahun = row['Tahun']

    # jika baris ini adalah baris "Tahun", simpan sebagai tahun sekarang
    if indikator.strip().lower() == 'tahun':
        tahun_sekarang = tahun
        continue

    # lanjut jika baris tidak valid (misal header duplikat)
    if indikator.strip().lower() == 'indikator':
        continue

    try:
        nilai_float = float(nilai) if nilai != "-" else None
    except ValueError:
        # Kalau konversi gagal (misal ada tulisan aneh), skip saja
        continue

    data_bersih.append({
        "Tahun": tahun_sekarang,
        "Indikator": indikator,
        "Nilai": nilai_float
    })

df_bersih = pd.DataFrame(data_bersih)
df_bersih.to_csv("Dashboard Interaktif/Data Clean/ipm_clean.csv", index=False)

In [7]:
df_bersih

   Tahun                                       Indikator  Nilai
0   2019             Umur Harapan Hidup saat Lahir (UHH)  73.95
1   2019                      Harapan Lama Sekolah (HLS)  13.15
2   2019                    Rata-rata Lama Sekolah (RLS)   8.07
3   2019  Pengeluaran Riil per Kapita (yang disesuaikan)    NaN
4   2020             Umur Harapan Hidup saat Lahir (UHH)  74.08
5   2020                      Harapan Lama Sekolah (HLS)  13.31
6   2020                    Rata-rata Lama Sekolah (RLS)   8.33
7   2020  Pengeluaran Riil per Kapita (yang disesuaikan)    NaN
8   2021             Umur Harapan Hidup saat Lahir (UHH)  74.16
9   2021                      Harapan Lama Sekolah (HLS)  13.32
10  2021                    Rata-rata Lama Sekolah (RLS)   8.34
11  2021  Pengeluaran Riil per Kapita (yang disesuaikan)    NaN
12  2022             Umur Harapan Hidup saat Lahir (UHH)  74.54
13  2022                      Harapan Lama Sekolah (HLS)  13.33
14  2022                    Rata-rata Lama Sekolah (RLS)   8.65
15  2022  Pengeluaran Riil per Kapita (yang disesuaikan)    NaN
16  2023             Umur Harapan Hidup saat Lahir (UHH)  74.99
17  2023                      Harapan Lama Sekolah (HLS)  13.34
18  2023                    Rata-rata Lama Sekolah (RLS)   8.66
19  2023  Pengeluaran Riil per Kapita (yang disesuaikan)    NaN
20  2024             Umur Harapan Hidup saat Lahir (UHH)  75.20
21  2024                      Harapan Lama Sekolah (HLS)  13.36
22  2024                    Rata-rata Lama Sekolah (RLS)   8.68
23  2024  Pengeluaran Riil per Kapita (yang disesuaikan)    NaN

**Kemiskinan**

- **Dataset yang digunakan dalam aspek ini antara lain :**
1. Garis Kemiskinan dan Persentase
2. Indeks dalam dan keparahan kemiskinan

In [3]:
df_gkp = pd.read_excel("Dashboard Interaktif/Dataset/KEMISKINAN/Garis kemiskinan dan persentase.xlsx")
df_gkp = pd.read_excel("Dashboard Interaktif/Dataset/KEMISKINAN/Garis kemiskinan dan persentase.xlsx", sheet_name="Sheet1")
df_gkp

,Tahun,Garis Kemiskinan(rupiah/kapita/bulan),Jumlah Penduduk Miskin(ribu),Persentase Penduduk Miskin
0,2014,277.707,"89,00",8.75
1,2015,292.483,87.37,8.57
2,2016,304.518,84.35,8.23
3,2017,314.532,82.8,8.04
4,2018,328.640,75.23,7.27
5,2019,341.651,70.01,6.74
6,2020,362.213,76.4,7.33
7,2021,374.183,78.59,7.51
8,2022,391.888,70.52,6.71
9,2023,423.875,68.81,6.53

### **Data Indeks Dalam dan Keparahan Kemiskinan**

In [9]:
df_idkm = pd.read_excel("Dashboard Interaktif/Dataset/KEMISKINAN/Indeks dalam dan keparahan kemiskinan.xlsx")
df_idkm = pd.read_excel("Dashboard Interaktif/Dataset/KEMISKINAN/Indeks dalam dan keparahan kemiskinan.xlsx", sheet_name= "Sheet1")
df_idkm

   Tahun  Indeks Dalam Kemiskinan  Indeks Keparahan Kemiskinan
0   2014                     1.11                         0.24
1   2015                     1.27                         0.30
2   2016                     0.98                         0.18
3   2017                     0.82                         0.16
4   2018                     0.98                         0.21
5   2019                     0.84                         0.17
6   2020                     0.72                         0.11
7   2021                     0.93                         0.17
8   2022                     0.66                         0.09
9   2023                     0.94                         0.17

### **Kependudukan**

- **Dataset yang digunakan dalam aspek ini antara lain :**
1. Jumlah penduduk menurut kecamatan dan agama 2019-2023
2. Jumlah penduduk 2016-2020 (Akan diprediksi)
3. Penduduk, laju pertumbuhan penduduk, distribusi persentase

In [28]:
folder_penduduk = "Dashboard Interaktif/Dataset/KEPENDUDUKAN/fix penduduk/Jumlah penduduk"
files = sorted([f for f in os.listdir(folder_penduduk) if f.endswith('.xlsx')])
df_penduduk = pd.DataFrame()
print(os.listdir(folder_penduduk))

['Jumlah Penduduk, 2016.xlsx', 'Jumlah Penduduk, 2017.xlsx', 'Jumlah Penduduk, 2018.xlsx', 'Jumlah Penduduk, 2019.xlsx', 'Jumlah Penduduk, 2020.xlsx']

In [ ]:
for file in files:
    print("Membaca:", file)
    if file.endswith(".xlsx") or file.endswith(".xls"):
        full_path = os.path.join(folder_penduduk, file)
        df = pd.read_excel(full_path)
        print(df.head())

In [30]:
for file in files :
    tahun = ''.join(filter(str.isdigit, file))[:4]
    #read main sheet
    path = os.path.join(folder_penduduk, file)
    df_penduduk_all = pd.read_excel(path)
    #rename coloumn and rows
    df_penduduk_all.columns = ['Kecamatan', 'Laki-laki', 'Perempuan', 'Jumlah']
    df_penduduk_all['Tahun'] = int(tahun)
    df_penduduk = pd.concat(([df_penduduk, df_penduduk_all]), ignore_index = True)

In [ ]:
# hapus baris yang berisi kata tahun, kecamatan dan jumlah penduduk
df_penduduk = df_penduduk[~df_penduduk.apply(
    lambda row: row.astype(str).str.contains("Tahun", case=False).any() 
                or row.astype(str).str.contains("Jumlah Penduduk", case=False).any()
                or row.astype(str).str.contains("Kecamatan", case=False).any(), 
    axis=1
)]

df_penduduk

In [42]:
df_penduduk.to_csv("Dashboard Interaktif/Data Clean/penduduk_2016-2020_clean.csv", index=False)

**Jumlah Penduduk Menurut Agama**

In [11]:
folder_penduduk_agama = "Dashboard Interaktif/Dataset/KEPENDUDUKAN/fix penduduk/Jumlah penduduk agama"
files = sorted([f for f in os.listdir(folder_penduduk_agama) if f.endswith('.xlsx')])
df_agama = pd.DataFrame()
print(os.listdir(folder_penduduk_agama))

['Jumlah penduduk menurut agama 2019.xlsx', 'Jumlah penduduk menurut agama 2020.xlsx', 'Jumlah penduduk menurut agama 2022.xlsx', 'Jumlah penduduk menurut agama 2023.xlsx']

In [12]:
for file in files :
    tahun = ''.join(filter(str.isdigit, file))[:4]
    #read main sheet
    path = os.path.join(folder_penduduk_agama, file)
    df_penduduk_all = pd.read_excel(path)
    df_penduduk_all = df_penduduk_all.iloc[:, :7]
    #rename coloumn and rows
    df_penduduk_all.columns = ["Kecamatan", "Islam", "Protestan", "Katolik", "Hindu", "Budha" , "Lainnya"]
    df_penduduk_all['Tahun'] = int(tahun)
    df_agama = pd.concat(([df_agama, df_penduduk_all]), ignore_index = True)

In [ ]:
# hapus baris 
df_agama = df_agama[~df_agama.apply(
    lambda row: row.astype(str).str.contains("Kecamatan", case=False).any() 
                or row.astype(str).str.contains("Lainnya", case=False).any(),
    axis=1
)]

df_agama

In [17]:
df_agama.to_csv("Dashboard Interaktif/Data Clean/penduduk_agama_2019-2023.csv", index= False)

**Laju Pertumbuhan pendudukan dan Distribusi Persentase**

In [18]:
folder_faktor_penduduk = "Dashboard Interaktif/Dataset/KEPENDUDUKAN/fix penduduk/Laju pertumbuhan penduduk dan Distribusi"
files = sorted([f for f in os.listdir(folder_faktor_penduduk) if f.endswith('.xlsx')])
df_fp = pd.DataFrame()
print(os.listdir(folder_faktor_penduduk))

['Berbagai faktor penduduk 2018.xlsx', 'Berbagai faktor penduduk 2019.xlsx', 'Berbagai faktor penduduk 2020.xlsx', 'Berbagai faktor penduduk 2021.xlsx', 'Berbagai faktor penduduk 2023.xlsx']

In [19]:
for file in files :
    tahun = ''.join(filter(str.isdigit, file))[:4]
    #read main sheet
    path = os.path.join(folder_faktor_penduduk, file)
    df_penduduk_all = pd.read_excel(path)
    df_penduduk_all = df_penduduk_all.iloc[:, :7]
    #rename coloumn and rows
    df_penduduk_all.columns = ["Kecamatan", "Jumlah Penduduk (Ribu)", "Laju Pertumbuhan Penduduk per Tahun", "Persentase Penduduk", "Kepadatan Penduduk per km persegi (Km2)", 
                               "Rasio Jenis Kelamin Penduduk"]
    df_penduduk_all['Tahun'] = int(tahun)
    df_fp = pd.concat(([df_fp, df_penduduk_all]), ignore_index = True)

In [20]:
df_fp

,Kecamatan,Jumlah Penduduk (Ribu),Laju Pertumbuhan Penduduk per Tahun,Persentase Penduduk,Kepadatan Penduduk per km persegi (Km2),Rasio Jenis Kelamin Penduduk,Tahun
0,Besuki,35319.0,0.42,3.41,430.0,1.0,2018
1,Bandung,43595.0,0.33,4.21,1039.0,0.9,2018
2,Pakel,50761.0,0.60,4.90,1408.0,0.9,2018
3,Campur Darat,57768.0,0.75,5.58,1460.0,1.0,2018
4,Tanggung Gunung,24777.0,0.61,2.39,210.0,0.9,2018
...,...,...,...,...,...,...,...
95,Kauman,53.2,0.23,4.70,NaN,100.8,2023
96,Gondang,60.7,0.36,5.37,NaN,99.8,2023
97,Pager Wojo,33.2,0.34,2.93,NaN,101.1,2023
98,Sendang,49.5,0.39,4.38,NaN,100.6,2023
99,Tulungagung,1132.1,0.36,100.00,989.0,100.5,2023

In [21]:
df_fp.to_csv("Dashboard Interaktif/Data Clean/faktor_penduduk_2018-2023.csv", index = False)

### **Kesehatan**

- **Dataset yang digunakan dalam aspek ini antara lain :**
1. Angka Harapan Hidup 2019-2023
2. Jumlah fasilitas kesehatan 2021-2023
3. Jumlah fasilitas rumah sakit dan lainnya 2018-2023

***1. Angka Harapan Hidup 2019-2023***

In [30]:
folder_angka_harapan_hidup = "Dashboard Interaktif/Dataset/KESEHATAN/fix kesehatan/Angka harapan hidup"
files = sorted([f for f in os.listdir(folder_angka_harapan_hidup) if f.endswith('.xlsx')])
df_ahp = pd.DataFrame()
print(os.listdir(folder_angka_harapan_hidup))

['Angka Harapan Hidup, 2019.xlsx', 'Angka Harapan Hidup, 2020.xlsx', 'Angka Harapan Hidup, 2021.xlsx', 'Angka Harapan Hidup, 2022.xlsx', 'Angka Harapan Hidup, 2023.xlsx']

In [31]:
for file in files :
    tahun = ''.join(filter(str.isdigit, file))[:4]
    #read main sheet
    path = os.path.join(folder_angka_harapan_hidup, file)
    df_kesehatan_all = pd.read_excel(path)
    df_kesehatan_all = df_kesehatan_all.iloc[:, :2]
    #rename coloumn and rows
    df_kesehatan_all.columns = ["Kabupaten/Kota Se Jawa Timur", "Angka Harapan Hidup (Tahun)"]
    df_kesehatan_all['Tahun'] = int(tahun)
    df_ahp= pd.concat(([df_ahp, df_kesehatan_all]), ignore_index = True)

In [34]:
# Bersihkan whitespace dan huruf kapital pada kolom nama daerah
df_ahp['Kabupaten/Kota'] = df_ahp['Kabupaten/Kota Se Jawa Timur'].str.strip().str.lower()
df_tulungagung = df_ahp[df_ahp['Kabupaten/Kota'].str.contains("tulungagung")]
print(df_tulungagung)

    Kabupaten/Kota Se Jawa Timur Angka Harapan Hidup (Tahun)  Tahun  \
5          Kabupaten Tulungagung                       73.95   2019
46         Kabupaten Tulungagung                       74.08   2020
87         Kabupaten Tulungagung                       74.16   2021
128        Kabupaten Tulungagung                       74.54   2022
169        Kabupaten Tulungagung                       74.91   2023

            Kabupaten/Kota
5    kabupaten tulungagung
46   kabupaten tulungagung
87   kabupaten tulungagung
128  kabupaten tulungagung
169  kabupaten tulungagung

In [35]:
df_tulungagung.to_csv("Dashboard Interaktif/Data Clean/ahh_tulungagung_2019-2023.csv", index = False)

***2. Jumlah Fasilitas dan Lainnya***

In [76]:
folder_jumlah_fasilitas = "Dashboard Interaktif/Dataset/KESEHATAN/fix kesehatan/Jumlah fasilitas dan lainnya"
files = sorted([f for f in os.listdir(folder_jumlah_fasilitas) if f.endswith('.xlsx')])
df_jumlah_fasilitas = pd.DataFrame()
print(os.listdir(folder_jumlah_fasilitas))

['Jumlah fasilitas kesehatan dan lainnya 2020.xlsx', 'Jumlah fasilitas kesehatan dan lainnya 2021.xlsx', 'Jumlah fasilitas kesehatan dan lainnya 2022.xlsx', 'Jumlah fasilitas kesehatan dan lainnya 2023.xlsx']

In [77]:
for file in files :
    tahun = ''.join(filter(str.isdigit, file))[:4]
    #read main sheet
    path = os.path.join(folder_jumlah_fasilitas, file)
    df_fasilitas_all = pd.read_excel(path)
    df_fasilitas_all = df_fasilitas_all.iloc[:, :7]
    #rename coloumn and rows
    df_fasilitas_all.columns = ["Kecamatan", "Jumlah Rumah Sakit Umum", "Jumlah Rumah Sakit Khusus", "Jumlah Puskesmas Rawat Inap", 
                                "Jumlah Puskesmas Non Rawat Inap", "Jumlah Klinik Pratama",	"Jumlah Posyandu"]
    df_fasilitas_all['Tahun'] = int(tahun)
    df_jumlah_fasilitas= pd.concat(([df_jumlah_fasilitas, df_fasilitas_all]), ignore_index = True)

In [81]:
# # hapus baris yang berisi kata tahun, kecamatan dan jumlah penduduk
# df_2021 = df.drop(columns=[
#     col for col in df.columns 
#     if df[col].astype(str).str.contains("2022", case=False, na=False).any()
# ])

### **Kesehatan**

- **Dataset yang digunakan dalam aspek ini antara lain :**
1. Angka partisipasi kasar (apk) dan angka partisipasi murni (apm) formal dan non formal menurut jenjang pendidikan dan karakteristik 
2. Persentase penduduk berumur 15 tahun yang melek huruf

In [ ]:
folder_apm_apk = "Dashboard Interaktif/Dataset/PENDIDIKAN/APK, APM, MELEK/fix apm/APM dan APK menurut jenjang pendidikan"
files = sorted([f for f in os.listdir(folder_apm_apk) if f.endswith('.xlsx')])
df_apm_apk = pd.DataFrame()
print(os.listdir(folder_apm_apk))

['APM dan APK menurut jenjang pendidikan 2019-2020.xlsx', 'APM dan APK menurut pendidikan 2021-2022.xlsx', 'APM dan APK menurut pendidikan 2022-2023.xlsx']

In [106]:
data_bersih = []

for file in files:
    path = os.path.join(folder_apm_apk, file)
    df = pd.read_excel(path, header=None)

    current_years = []
    for i, row in df.iterrows():
        if str(row[0]).strip().lower() == "tahun":
            current_years = [int(row[1]), int(row[2]), int(row[3]), int(row[4])]
        elif pd.notna(row[0]) and str(row[0]).strip().lower() not in ["tahun", ""]:
            jenjang = str(row[0]).replace("1. ", "").replace("2. ", "").replace("3. ", "").strip()
            try:
                data_bersih.extend([
                    {"Tahun": current_years[0], "Jenjang": jenjang, "Jenis": "APM", "Nilai": float(row[1])},
                    {"Tahun": current_years[1], "Jenjang": jenjang, "Jenis": "APM", "Nilai": float(row[2])},
                    {"Tahun": current_years[2], "Jenjang": jenjang, "Jenis": "APK", "Nilai": float(row[3])},
                    {"Tahun": current_years[3], "Jenjang": jenjang, "Jenis": "APK", "Nilai": float(row[4])},
                ])
            except:
                continue

# Gabungkan ke dalam DataFrame akhir
df_final = pd.DataFrame(data_bersih)

In [108]:
df_final.to_csv("Dashboard Interaktif/Data Clean/apm_apk_2019-2023.csv", index=False)

3. Persentase penduduk berumur 15 tahun yang melek huruf

In [4]:
folder_melek_huruf = "Dashboard Interaktif/Dataset/PENDIDIKAN/APK, APM, MELEK/fix apm/Persentase penduduk berumur 15 tahun melek huruf"
files = sorted([f for f in os.listdir(folder_melek_huruf) if f.endswith('.xlsx')])
df_melek_huruf = pd.DataFrame()
print(os.listdir(folder_melek_huruf))

['Persentase penduduk berumur 15 tahun ke atas yang melek huruf menurut kelompok umur 2019-2020.xlsx', 'Persentase penduduk berumur 15 tahun ke atas yang melek huruf menurut kelompok umur 2021-2022.xlsx', 'Persentase penduduk berumur 15 tahun ke atas yang melek huruf menurut kelompok umur 2022-2023.xlsx']

In [8]:
df = pd.read_excel("Dashboard Interaktif/Dataset/PENDIDIKAN/APK, APM, MELEK/fix apm/Persentase penduduk berumur 15 tahun melek huruf/Persentase penduduk berumur 15 tahun ke atas yang melek huruf menurut kelompok umur 2019-2020.xlsx", header=1)
df

  Kelompok Umur    2019    2020
0         15–19  100.00  100.00
1         20–29   99.82  100.00
2         30–39   99.73   98.95
3         40–49   99.86   99.73
4         50–59   99.06   98.60
5         60–69   94.55   94.45
6           70+   78.35   81.01

In [ ]:

for file in files:
    path = os.path.join(folder_melek_huruf, file)
    df = pd.read_excel(path)
    df = df.loc[:, ~df.columns.astype(str).str.contains("Unnamed")]
    # Cari kolom tahun (numerik) selain 'Kelompok Umur'
    tahun_cols = [col for col in df.columns if str(col).replace(".0", "").isdigit()]
    # Pastikan 'Kelompok Umur' ada
    print(f"Sedang memproses: {file}")
    print("Kolom:", df.columns.tolist())
    print("Dimensi:", df.shape)

    if 'Kelompok Umur' in df.columns:
        df = df[['Kelompok Umur'] + tahun_cols]
    else:
        df.columns.values[0] = 'Kelompok Umur'  # Rename kolom pertama kalau belum benar

    df_long = pd.melt(df, id_vars="Kelompok Umur", var_name="Tahun", value_name="Persentase")

    # Bersihkan tahun dan ubah ke integer
    df_long['Tahun'] = df_long['Tahun'].astype(float).astype(int)

    # Tambahkan ke gabungan
    df_all = pd.concat([df_melek_huruf, df_long], ignore_index=True)

In [ ]:
for file in files:
    path = os.path.join(folder_melek_huruf, file)
    print(f"Memproses file: {file}")
    try:
        # 3a. Coba baca file dari baris ke-1 (karena baris ke-0 biasanya kosong)
        df = pd.read_excel(path, header=1)

        # 3b. Buang kolom kosong atau 'Unnamed'
        df = df.loc[:, ~df.columns.astype(str).str.contains("Unnamed")]

        # 3c. Pastikan kolom pertama adalah 'Kelompok Umur'
        if df.columns[0] != "Kelompok Umur":
            df.columns.values[0] = "Kelompok Umur"

        # 3d. Filter kolom tahun (yang berupa angka)
        tahun_cols = [col for col in df.columns if str(col).replace(".0", "").isdigit()]
        if not tahun_cols:
            print(f"Lewati karena tidak ada kolom tahun: {file}")
            continue

        # 3e. Ambil hanya kolom 'Kelompok Umur' dan tahun-tahun
        df = df[["Kelompok Umur"] + tahun_cols]

        # 3f. Ubah ke format panjang (long)
        df_long = pd.melt(df, id_vars="Kelompok Umur", var_name="Tahun", value_name="Persentase")

        # 3g. Bersihkan dan ubah tipe data
        df_long["Tahun"] = df_long["Tahun"].astype(float).astype(int)
        df_long["Kelompok Umur"] = df_long["Kelompok Umur"].astype(str)
        df_long["Persentase"] = pd.to_numeric(df_long["Persentase"], errors="coerce")

        # 3h. Gabungkan ke df_all
        df_melek_huruf = pd.concat([df_melek_huruf, df_long], ignore_index=True)

    except Exception as e:
        print(f"❌ Gagal membaca {file}: {e}")

📂 Memproses file: Persentase penduduk berumur 15 tahun ke atas yang melek huruf menurut kelompok umur 2019-2020.xlsx
📂 Memproses file: Persentase penduduk berumur 15 tahun ke atas yang melek huruf menurut kelompok umur 2021-2022.xlsx
📂 Memproses file: Persentase penduduk berumur 15 tahun ke atas yang melek huruf menurut kelompok umur 2022-2023.xlsx

In [16]:
df_melek_huruf

   Kelompok Umur  Tahun  Persentase
0          15–19   2019      100.00
1          20–29   2019       99.82
2          30–39   2019       99.73
3          40–49   2019       99.86
4          50–59   2019       99.06
5          60–69   2019       94.55
6            70+   2019       78.35
7          15–19   2020      100.00
8          20–29   2020      100.00
9          30–39   2020       98.95
10         40–49   2020       99.73
11         50–59   2020       98.60
12         60–69   2020       94.45
13           70+   2020       81.01
14         15–19   2021      100.00
15         20–29   2021      100.00
16         30–39   2021       98.68
17         40–49   2021       99.56
18         50–59   2021       97.50
19         60–69   2021       89.93
20         15–19   2022      100.00
21         20–29   2022      100.00
22         30–39   2022       98.08
23         40–49   2022       97.89
24         50–59   2022       97.24
25         60–69   2022       83.64
26         15–19   2022      100.00
27         20–29   2022      100.00
28         30–39   2022       98.08
29         40–49   2022       97.89
30         50–59   2022       97.24
31         60–69   2022       83.64
32         15–19   2023      100.00
33         20–29   2023      100.00
34         30–39   2023      100.00
35         40–49   2023       99.85
36         50–59   2023       98.80
37         60–69   2023       92.43

In [17]:
df_melek_huruf.to_csv("Dashboard Interaktif/Data Clean/melek_huruf_2019-2023.csv", index = False)

## **Tenaga Kerja**
- **Dataset yang digunakan dalam aspek ini antara lain :**
1. TPAK (Tingkat Partisipasi Angakatan Kerja) 2019-2024 
2. Kemiskinan dan Pengangguran di kabupaten Tulungagung 2010-2020

In [18]:
folder_tpak= "Dashboard Interaktif/Dataset/TENAGA KERJA/fix tenaga kerja/TPAK"
files = sorted([f for f in os.listdir(folder_tpak) if f.endswith('.xlsx')])
df_tpak = pd.DataFrame()
print(os.listdir(folder_tpak))

['Tingkat Partisipasi Angkatan Kerja (TPAK) Menurut Kabupaten_Kota, 2019.xlsx', 'Tingkat Partisipasi Angkatan Kerja (TPAK) Menurut Kabupaten_Kota, 2020.xlsx', 'Tingkat Partisipasi Angkatan Kerja (TPAK) Menurut Kabupaten_Kota, 2021.xlsx', 'Tingkat Partisipasi Angkatan Kerja (TPAK) Menurut Kabupaten_Kota, 2022.xlsx', 'Tingkat Partisipasi Angkatan Kerja (TPAK) Menurut Kabupaten_Kota, 2023.xlsx', 'Tingkat Partisipasi Angkatan Kerja (TPAK) Menurut Kabupaten_Kota, 2024.xlsx']

In [20]:
for file in files :
    tahun = ''.join(filter(str.isdigit, file))[:4]
    #read main sheet
    path = os.path.join(folder_tpak, file)
    df_tpak_all = pd.read_excel(path)
    df_tpak_all = df_tpak_all.iloc[:, :2]
    #rename coloumn and rows
    df_tpak_all.columns = ["Kabupaten/Kota Se Jawa Timur", "Tingkat Partisipasi Angkatan Kerja (TPAK) Menurut Kabupaten/Kota (Persen)"]
    df_tpak_all['Tahun'] = int(tahun)
    df_tpak= pd.concat(([df_tpak, df_tpak_all]), ignore_index = True)

In [21]:
df_tpak

,Kabupaten/Kota Se Jawa Timur,Tingkat Partisipasi Angkatan Kerja (TPAK) Menurut Kabupaten/Kota (Persen),Tahun
0,Kabupaten/Kota Se Jawa Timur,Tingkat Partisipasi Angkatan Kerja (TPAK) Menu...,2019
1,Tahun,2019,2019
2,Kabupaten Pacitan,79.62,2019
3,Kabupaten Ponorogo,71.15,2019
4,Kabupaten Trenggalek,73.45,2019
...,...,...,...
241,Kota Mojokerto,72.68,2024
242,Kota Madiun,70.6,2024
243,Kota Surabaya,70.49,2024
244,Kota Batu,73.53,2024
245,Jawa Timur,73.45,2024

In [22]:
# Bersihkan whitespace dan huruf kapital pada kolom nama daerah
df_tpak['Kabupaten/Kota'] = df_tpak['Kabupaten/Kota Se Jawa Timur'].str.strip().str.lower()
df_tulungagung = df_tpak[df_tpak['Kabupaten/Kota'].str.contains("tulungagung")]
print(df_tulungagung)

    Kabupaten/Kota Se Jawa Timur  \
5          Kabupaten Tulungagung
46         Kabupaten Tulungagung
87         Kabupaten Tulungagung
128        Kabupaten Tulungagung
169        Kabupaten Tulungagung
210        Kabupaten Tulungagung

    Tingkat Partisipasi Angkatan Kerja (TPAK) Menurut Kabupaten/Kota (Persen)  \
5                                                70.48
46                                               73.17
87                                               72.26
128                                              71.95
169                                               74.7
210                                              75.57

     Tahun         Kabupaten/Kota
5     2019  kabupaten tulungagung
46    2020  kabupaten tulungagung
87    2021  kabupaten tulungagung
128   2022  kabupaten tulungagung
169   2023  kabupaten tulungagung
210   2024  kabupaten tulungagung

In [23]:
df_tulungagung.to_csv("Dashboard Interaktif/Data Clean/tpak_2019-2024.csv", index =False)

2. Kemiskinan dan Pengangguran di kabupaten tulungagung 2010-2020

In [27]:
df_kemiskinan = pd.read_excel("Dashboard Interaktif/Dataset/TENAGA KERJA/fix tenaga kerja/Kemiskinan dan Pengangguran di kabupaten Tulungagung 2010-2020.xlsx", header=2)
df_kemiskinan

,Unnamed: 0,KEMISKINAN,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,PENGANGGURAN,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15
0,Tahun,PendudukMiskin(Jiwa),P0(%),P1(%),P2(%),GK(Rp.),AK(Jiwa),BAK(Jiwa),BEKERJA(Jiwa),Pengangguran(Jiwa),TPT(%),PendudukProyeksiSP2010(Jiwa),PendudukHasilSP2021,HasilProyeksiPendudukInterim2020-2024,AK+BAK(PendudukUsiaKerja),ProporsiPddkUsiaKerja(Jiwa)
1,2010,105400,10.64,1.36,0.26,214362,543315,203746,524294,19021,3.5,990841,0,0,747061,75.4
2,2011,98747,9.9,1.31,0.26,234806,517678,229757,499125,18553,3.58,995731,0,0,747435,75.06
3,2012,94300,9.37,1.07,0.2,251372,545467,209919,528123,17344,3.18,999640,0,0,755386,75.57
4,2013,91300,9.03,1.15,0.24,269290,541138,216680,526175,14963,2.77,1009411,0,0,757818,75.08
5,2014,88990,8.75,1.03,0.21,277707,565151,213643,551480,13671,2.42,1015974,0,0,778794,76.65
6,2015,87370,8.57,1.27,0.3,292483,547466,238802,525867,21599,3.95,1021190,0,0,786268,77
7,2016,84350,8.23,0.98,0.18,304518,0,0,0,0,0,0,0,0,0,0
8,2017,82800,8.04,0.82,0.16,314532,537081,262764,524884,12197,2.27,1030790,0,0,799845,77.6
9,2018,75230,7.27,0.98,0.21,328640,569310,236879,554475,14835,2.61,1035290,0,0,806189,77.87
10,2019,70010,6.74,0.84,0.17,341651,571811,240382,552610,19201,3.29,1039284,0,0,812193,78.15
11,2020,76400,7.33,0.72,0.11,362213,606711,222520,578760,27951,4.61,0,1089780,0,829231,76.09
12,2021,78590,7.51,0.93,0.17,374183,603048,231505,573418,29630,4.91,0,0,1098590,834553,75.97
13,2022,72520,6.71,0.66,0.09,391888,603997,235514,563849,40148,6.65,0,0,1105340,839511,75.950477

In [28]:
df_kemiskinan.columns = [
    "Tahun", "Penduduk_Miskin", "P0", "P1", "P2", "Garis_Kemiskinan",
    "Angkatan_Kerja", "Bukan_Angkatan_Kerja", "Bekerja", "Pengangguran",
    "Tingkat_Pengangguran_Terbuka", "Proyeksi_SP2010", "Penduduk_SP2021",
    "Proyeksi_Interim", "Penduduk_Usia_Kerja", "Proporsi_Usia_Kerja"
]

In [30]:
numeric_cols = df_kemiskinan.columns.drop("Tahun")
df_kemiskinan[numeric_cols] = df_kemiskinan[numeric_cols].apply(pd.to_numeric, errors="coerce")

In [31]:
df_kemiskinan.to_csv("Dashboard Interaktif/Data Clean/kemiskinan_pengangguran_tulungagung_2010-2020.csv", index=False)